* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #333;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.productListContainer {
  align-items: center;
  width: 80%;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
/* ... (rest of your styles) ... */

.parentOfProductList {
  display: flex;
  justify-content: center; /* centers children horizontally */
  align-items: center; /* centers children vertically */
  flex-direction: column; /* stacks children vertically */
  height: 100vh; /* full viewport height */
}

.productListContainer {
  margin: 0 auto; /* This will center your container horizontally */
  align-items: center;
  width: 100%;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* ... (rest of your styles) ... */

.contentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: -34px;
}

.productCard {
  width: 250px;
  height: 350px;
  padding: 15px;
  margin: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(155deg, #38585d, #ededed);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.productCard:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  transform: translateY(-4px) scale(1.03);
  cursor: pointer;
}

.productImage {
  max-height: 60%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 7px;
  border-radius: 7px;
}

.productName {
  font-size: 17px;
  margin: 7px 0;
  color: #fafcff;
}

.productCategory {
  font-size: 15px;
  margin-bottom: 7px;
  color: #ffffff;
}

.productDescription {
  font-size: 13px;
  margin-bottom: 7px;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.productPrice {
  font-size: 18px;
  margin: 7px 0;
  font-weight: bold;
  color: #fff5f5;
}

.buyBtn {
  padding: 7px 12px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.buyBtn:hover {
  background-color: #000000;
  transform: translateY(-3px);
}

.productGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  padding: 15px 0;
  border-top: 2px solid #e0e0e0;
}

.pagination button {
  padding: 8px 20px;
  margin: 0 15px;
  cursor: pointer;
  border: 2px solid #ffffff;
  background-color: white;
  transition: background-color 0.35s, border-color 0.35s;
}

.pagination button:hover {
  background-color: #e0e0e0;
}

.error {
  color: #f44336;
  text-align: center;
  margin-top: 25px;
}

.headerRight {
  display: flex;
  align-items: center;
}

.signUpBtn,
.loginBtn {
  margin-left: 12px;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.35s;
}

.signUpBtn {
  background-color: #0b3d91;
  color: #fafafa;
}

.signUpBtn:hover {
  background-color: #0072b1;
}

.loginBtn {
  background-color: #fafafa;
  color: #f5f5f5;
  border: 2px solid #ffffff;
}

.loginBtn:hover {
  background-color: #f0f0f0;
}

.userName {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-right: 15px;
}

.userPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.userName button {
  background-color: #f5f5f5;
  color: #666;
  border: none;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.userName button:hover {
  background-color: #e5e5e5;
}

.mainContent {
  width: 100%;
  padding: 0px;
}
.categoryBanner {
  height: 220px;
  margin: 20px 0;
  padding: 10px;
  color: #ffffff;
  background: #6da5af;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;

  /* Allow dropdown to show outside the banner */
}
.categoryBanner h2 {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 25px; /* This gives space between the title and the items below */
}

.categoriesList {
  display: flex;
  gap: 1px;
  list-style: none;
  padding: 5px;
  white-space: nowrap;
  width: 100%; /* full width of .categoryBanner */

  position: absolute;
  overflow: visible; /* Added this to absolutely position the list */
  bottom: 0; /* Position at the bottom of the banner */
}

.categoryItem {
  position: relative;
  cursor: pointer;
  background-color: #609eb0;
  transition: background-color 0.3s;
  box-shadow: 0px 2px 8px rgba(177, 31, 31, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column; /* Changed to column to stack the image and text */
  align-items: center; /* Center the children horizontally */
  justify-content: center; /* Center the children vertically */
  padding: 10px 5px; /* Add some padding to give space */
  text-decoration: none;
}

.categoryItem img {
  width: 180px;
  height: 120px;
  margin-bottom: 10px; /* Space between the image and the text below */
  transition: transform 0.3s ease;
}

.categoryItem img:hover {
  transform: scale(1.1); /* Scale the image up by 10% on hover */
}

.categoryItem p {
  margin-top: 5px;
}
.categoryItem a,
.categoryItem a:hover,
.categoryItem a:focus {
  text-decoration: none;
}

.dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 300px;
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 1000;
  overflow: visible;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
}

.dropdown a:hover {
  background-color: #eee;
}

.categoryItem:hover .dropdown {
  display: block;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  user-select: none; /* prevent text selection */
}

.arrowLeft {
  left: 10px;
}

.arrowRight {
  right: 10px;
}

.arrowLeft:hover,
.arrowRight:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.productGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
/* ... Your existing styles ... */

.horizontalScroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 0;
}

.horizontalItem {
  display: inline-block;
  width: 220px;
  margin-right: 15px; /* Reduced this to bring items closer */
  border: 1px solid #ccc; /* Border around each item */
  border-radius: 8px; /* Rounded edges for the border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 10px; /* Some internal padding to give space inside the border */
  background-color: #fff4f4; /* Background color to ensure it looks clean */
}

.horizontalItem p {
  text-align: center;
  margin-top: 5px; /* Reduced margin-top to bring name closer to the image */
}
.horizontalItem:hover {
  transform: scale(1.05); /* Scale the item up */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Add a shadow below */
  border: 1px solid #e0e0e0; /* Optional: Add a border on hover */
}

.horizontalItem img {
  width: 190px;
  height: 150px;
  object-fit: cover;
  border: 1px solid #ddd; /* Border around the image */
  border-radius: 6px; /* Rounded edges for the image */
}

.horizontalItem1 {
  display: inline-block;
  width: 220px;
  margin-right: 15px; /* Reduced this to bring items closer */
  border: 1px solid #ccc; /* Border around each item */
  border-radius: 8px; /* Rounded edges for the border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 10px; /* Some internal padding to give space inside the border */
  background-color: #c8a6a6; /* Background color to ensure it looks clean */
}

.horizontalItem1 p {
  text-align: center;
  margin-top: 5px; /* Reduced margin-top to bring name closer to the image */
}
.horizontalItem1:hover {
  transform: scale(1.05); /* Scale the item up */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Add a shadow below */
  border: 1px solid #e0e0e0; /* Optional: Add a border on hover */
}

.horizontalItem1 img {
  width: 190px;
  height: 150px;
  object-fit: cover;
  border: 1px solid #ddd; /* Border around the image */
  border-radius: 6px; /* Rounded edges for the image */
}

.promoBanner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px; /* Set the height to whatever you want */
}

.bannerSlide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bannerSlide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will ensure the image scales appropriately and covers the space */
}

.activeSlide {
  display: block;
}

.paginationDots {
  position: absolute;
  bottom: 10px; /* Adjust this as needed */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px; /* Gap between dots */
  z-index: 10; /* Ensure the dots are above the images */
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #050404;
  border-radius: 50%; /* Make them round */
  opacity: 0.5; /* Dots are semi-transparent by default */
  cursor: pointer; /* Suggest to the user they are clickable */
  transition: opacity 0.3s;
}

.activeDot {
  opacity: 1; /* Active dot is fully opaque */
}
.gridContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.column {
  flex-basis: calc(33.33% - 10px);
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}

.columnHeadline {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.subColumn {
  display: flex;
  justify-content: space-between;
}

.cell {
  flex-basis: calc(48% - 8px);
  background-color: #f5f5f5;
  padding: 8px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.cell img {
  width: 155px; /* Set width */
  height: 150px; /* Set height */
  display: block;
  margin: 0 auto;
  object-fit: cover; /* Cover the size of the container without distorting the image */
  border-radius: 5px; /* Optional: if you want rounded corners for images */
  transition: transform 0.3s ease;
}
.cell img:hover {
  transform: scale(1.1); /* Scale the image up by 10% on hover */
}
.cell p {
  text-align: center;
  margin-top: 7px;
  font-size: 15px;
  color: #333;
}

.columnHeadline {
  margin-top: 0;
  margin-bottom: 10px; /* Reduced margin for a more compact look */
  font-size: 18px; /* Adjusted font size for a more compact look */
  font-weight: bold;
}

.columnHeadline a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.columnHeadline a:hover {
  color: #0072b1;
}

.productLink {
  text-decoration: none;
  color: inherit;
}


