/* Signup.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
    border-radius: 8px;
    background-color: #f8f8f8;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.subtitle {
    color: #666;
    margin-bottom: 30px;
}

form {
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}
/* styles.module.css */
/* Add basic styles for success and error modals */
.successModal {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    margin-top: 1rem;
  }
  
  .errorModal {
    background-color: #f44336;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    margin-top: 1rem;
  }
  