/* custom.css */

/* Common Styles */
body {
  font-family: "Arial", sans-serif; /* Replace with your preferred font-family */
  background-color: #f6f6f6;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.mainContent {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Metrics Section */
.metricsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.metricBox {
  flex: 1;
  min-width: 200px;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.metricValue {
  font-size: 24px;
  font-weight: bold;
}

.metricLabel {
  font-size: 18px;
  color: #777;
}

/* Graphs Section */
.graphsContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.individualGraphBox {
  min-width: calc(50% - 20px);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  transition: box-shadow 0.3s;
  text-align: center;
}

.individualGraphBox:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.chartTitle {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #c66d24;
}

.chartContainer {
  height: 200px;
  max-width: 100%;
}

/* Admin Section */
.adminSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.adminSection button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s;
}

.adminSection button:hover {
  background-color: #777;
}

/* CSS for the modal content */
.modal-content {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.modal-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}

.modal-input:focus {
  background-color: #333;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.modal-input::placeholder {
  color: #888;
}

.modal-button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s;
}

.modal-button:hover {
  background-color: #777;
}
