/* styles.module.css */

/* Reset some default browser styles */

/* Full-page container */
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

/* Header style with a larger height */
.header {
  background-color: #333;
  color: #fff;
  padding: 30px; /* Adjust the padding to your preference */
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

/* Page content container */
.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Metrics Section */
.metricsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0;
}

/* Metric Box styles */
.metricBox {
  flex: 1;
  min-width: 200px;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Make the metric boxes occupy the full width */
}

/* Styling for metric values */
.metricValue {
  font-size: 24px;
  font-weight: bold;
}

/* Styling for metric labels */
.metricLabel {
  font-size: 18px;
  color: #777;
}

/* Location Sales Container */
.locationSales {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%; /* Adjust as needed to create squares and allow for a small gap */
  /* Add other styling as needed */
}

/* Pie Chart Container */
.pieChart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 88%; /* Adjust as needed to create squares and allow for a small gap */
  /* Add other styling as needed */
}

/* Time Sales Container */
.timeSales {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Adjust as needed to create squares and allow for a small gap */
  /* Add other styling as needed */
}

/* Chart styles and other styles remain unchanged */

/* Admin Section styles */
.adminSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
}
.graphContainer {
  flex: 1;
}
/* Button styles */
.adminSection button {
  background-color: #555;
  color: #fff;
  border: none;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s;
}

/* Hover effect for buttons */
.adminSection button:hover {
  background-color: #777;
}

/* Modal styles remain unchanged */
.locationSales,
.timeSales {
  margin-bottom: 20px;
}
.bestProducts {
  flex: 1;
}
.individualGraphBox {
  flex: 1; /* Adjust the flex value to control the size */
  /* Add other styling as needed */
}
productLink {
  text-decoration: none;
  color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align content within the column */
}

/* contentContainer */
.contentContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; /* Allow content to wrap to the next line */
  width: 100%;
  /* Add other styling as needed */
}

/* graphContainer */
.graphContainer {
  flex: 1; /* Allow each graph container to take equal space */
  margin: 5px; /* Add spacing between graph containers */
  /* Add other styling as needed */
}

/* locationSales */
.locationSales,
.timeSales {
  width: 100%; /* Each takes full width */
  margin-bottom: 20px; /* Add some spacing between location and time graphs */
  /* Add other styling as needed */
}

/* individualGraphBox */
.individualGraphBox {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  transition: box-shadow 0.3s;
  text-align: center;
  height: 200px;
  max-width: 100%;
  /* Add other styling as needed */
}

.individualGraphBox:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

/* chartTitle */
.chartTitle {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #c66d24;
  /* Add other styling as needed */
}

/* chartContainer */
.chartContainer {
  height: 200px;
  max-width: 100%;
  /* Add other styling as needed */
}

/* bestProducts */
.bestProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Takes full width */
  /* Add other styling as needed */
}
