/* For your styles.module.css */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensuring the container takes full viewport height */
}

.mainContent {
  flex: 1; /* This ensures the main content stretches to fill the space between the header and footer */
  padding: 20px;
  position: relative;
}

.chartTitle {
  padding: 10px 0;
  font-size: 24px;
  font-weight: bold;
}


.graphsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* This will allow the graphs to wrap onto the next line if the screen is too narrow */
  gap: 20px; /* Spacing between the graphs */
}

.individualGraph {
  flex: 1; /* Ensures the graphs take up equal width */
  max-width: 48%; /* This sets a maximum width for each graph */
}
