.signup_container {
	width: 100%;
	min-height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signup_form_container {
	width: 900px;
	height: 540px; /* Increased the height slightly */
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color: white; /* Making text color consistent */
}

.left h1 {
	margin: 0; /* Removed top margin */
	font-size: 35px;
}

.right {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px; /* Added padding */
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 25px; /* Increased bottom margin for spacing */
	color:  #ff9d00; /* Matched with header color */
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}

.error_msg,
.success_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.success_msg {
	background-color: #5cdd5c;
}

.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: #ed470b;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin: 5px 0; /* Added margin for spacing */
}

.green_btn {
	background-color: #ed470b;
	color: white;
}
