.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.menuButton {
  cursor: pointer;
  font-size: 1.5em;
  color: #333;
  margin-right: 10px;
  transition: color 0.3s;
}

.menuButton:hover {
  color: #555; /* Darken on hover for feedback */
}

.logo {
  font-size: 1.8em;
  color: #ff9900;
  text-decoration: none;
  margin-left: 10px;
  transition: color 0.3s;
}

.logo:hover {
  color: #e68a00; /* Darken on hover for feedback */
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  bottom: 0;
  width: 250px;
  background-color: #f5f5f5;
  transition: left 0.3s ease-in-out;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 900;
  padding-top: 50px;
}

.sidebar.show {
  left: 0;
}

.sidebar a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #eee;
}

.searchContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Prevents wrapping of items inside the container */
  position: relative; /* Set position to relative to accommodate the absolute positioning of search results dropdown */
}

.categoryDropdown,
.searchBar input {
  padding: 8px 10px;
  font-size: 0.9em;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 0 0 auto; /* Prevents the flex items from shrinking and ensures they don't overflow their container */
}

.searchBar input {
  width: 200px; /* Adjust width if necessary */
}

.searchBar input:focus {
  border: 1px solid #007bff;
  outline: none;
}

.loggedIn,
.loggedOut {
  display: flex;
  align-items: center;
}

.userPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.userNameDropdown {
  position: relative;
  cursor: pointer;
  padding: 5px;
  border: none;
  background: none;
  color: #fff;
}

.userNameDropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdownContent a,
.dropdownContent button {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
}

.dropdownContent a:hover,
.dropdownContent button:hover {
  background-color: #eee;
}

.notifications {
  margin-left: 20px;
  position: relative;
}

.bellIcon {
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}

.notificationCount {
  position: absolute;
  top: 0;
  right: -5px;
  background-color: #ff4500;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  padding: 3px 6px;
}

.loginBtn,
.signUpBtn {
  padding: 8px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.loginBtn {
  background-color: #007bff;
  color: #fff;
}

.signUpBtn {
  background-color: #28a745;
  color: #fff;
}

.loginBtn:hover {
  background-color: #0056b3;
}

.signUpBtn:hover {
  background-color: #218837;
}

.cart {
  position: relative;
  text-decoration: none;
  margin-right: 30px;
  color: inherit;
}

.cartIcon {
  font-size: 32px;
  vertical-align: middle;
  transition: color 0.3s ease;
}

.cart:hover .cartIcon {
  color: #fe5e01;
}

.badge {
  position: absolute;
  top: 8px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid white;
}

.cart:hover {
  color: #666;
}

.searchResults {
  position: absolute;
  top: 100%; /* This will position the dropdown directly below the search bar */
  left: 0;
  width: calc(100% - 10px); /* Full width of the parent minus some margin */
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  display: none; /* Initially hidden */
  transition: max-height 0.2s ease-in-out;
  border-radius: 5px; /* To give the dropdown rounded edges */
  margin: 5px; /* Giving some space */
}

.searchResults a {
  padding: 10px 15px;
  display: block;
  color: #333;
  text-decoration: none;
}

.searchResults a:hover {
  background-color: #f0f0f0;
}

/* Assuming there's a state in your component controlling the visibility of search results */
.searchContainer:focus-within .searchResults,
.searchContainer:hover .searchResults {
  display: block; /* Display dropdown when input is focused or hovered upon */
}
